streamlit
numpy
pandas
cycler
fonttools
kiwisolver
matplotlib
opencv-python
packaging
Pillow
pycocotools
pyparsing
python-dateutil
scipy
seaborn
six
statsmodels
stqdm
torch
torchvision
tqdm
typing-extensions
