streamlit
numpy
pandas
base64
cycler
fonttools
json
kiwisolver
matplotlib
opencv-python
os
packaging
Pillow
pycocotools
pyparsing
python-dateutil
scipy
seaborn
six
statsmodels
stqdm
subprocess
tempfile
torch
torchvision
tqdm
typing-extensions